<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yameida.worktool.data.mapper.ChatRobotInfoMapper">

    <resultMap id="BaseResultMap" type="org.yameida.worktool.data.domain.ChatRobotInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="robotId" column="robot_id" jdbcType="VARCHAR"/>
            <result property="robotKey" column="robot_key" jdbcType="VARCHAR"/>
            <result property="corporation" column="corporation" jdbcType="VARCHAR"/>
            <result property="nick" column="nick" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="del" column="del" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,robot_id,robot_key,
        corporation,nick,create_time,
        update_time,del
    </sql>
</mapper>
